/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(xbox-assets/base.svg);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox.white {
    background: url(nxcro.png);
    
}


/*END Xbox One Controller Styling*/
