/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(layer0cop.png);
}

.ds4.white .trigger {
    background-image: url(layer3.png);
}

.ds4.white .bumper {
    background-image: url(layer5.png);
}

.ds4.white .back, .ds4 .start {
    background-image: url(layer19.png);
}

.ds4.white .button {
    background-image: url(layer76.png);
}

.ds4.white .stick {
    background-image: url(layer2.png);
}

.ds4.white .face {
    background-image: url(layer18.png);
}


/*END PS4 White Controller Styling*/


